{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}

<h3>Minkä hotellin tietoja haluat muokata?</h3>

<form action="/select_hotel" method="POST">
    <select name="hotel_id">
        {% for hotel in hotels %}
            <option value={{hotel.id}}> {{ hotel.hotel_name }}
        {% endfor %}
    </select>
    <input type="submit" value="Valitse hotelli">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% if selected_hotel != None %}
<h3>Voit muokata hotellin {{selected_hotel.hotel_name }} tietoja</h3>
<h3>Hotellin huoneet</h3>
<table class="w3-table">
    <tr>
        <th>Kuvaus</th>
        <th>Asiakkaiden lkm</th>
        <th>Pinta-ala</th>
        <th>Huoneiden lkm</th>
        <th>Hinta per yö</th>
    </tr>
    {% for room in rooms %}
    <tr>
        <td>{{ room.room_description }}</td>
        <td>{{ room.guests }}</td>
        <td>{{ room.square_meters }}</td>
        <td>{{ room.number_of_rooms }}</td>
        <td>{{ room.price }}</td>
    </tr>
    {% endfor %}
</table>

<br>

<h3>Hotellin palvelut</h3>
    {% for amenity in amenities %}
        <li>{{ amenity.amenity }}</li>
    {% endfor %}
<br>

<form action="/add_hotel_amenities" method="POST">
    <h3>Lisää hotellille palveluita:</h3>
    <input type="checkbox" name="hotel_amenity" value="Kylpylä"> Kylpylä
    <input type="checkbox" name="hotel_amenity" value="Ilmainen pysäköinti"> Ilmainen pysäköinti
    <input type="checkbox" name="hotel_amenity" value="Ravintola"> Ravintola
    <input type="checkbox" name="hotel_amenity" value="Aamiainen"> Aamiainen
    <input type="checkbox" name="hotel_amenity" value="Kuntosali"> Kuntosali
    <input type="checkbox" name="hotel_amenity" value="Päivittäinen siivous"> Päivittäinen siivous
    <input type="checkbox" name="hotel_amenity" value="24/7 vastaanotto"> 24/7 vastaanotto
    <input type="checkbox" name="hotel_amenity" value="Ilmainen Wi-Fi"> Ilmainen Wi-Fi
    <input type="checkbox" name="hotel_amenity" value="Oma kylpyhuone"> Oma kylpyhuone
    <input type="checkbox" name="hotel_amenity" value="Minibaari"> Minibaari
    <input type="checkbox" name="hotel_amenity" value="Kylpytakit"> Kylpytakit
    <input type="checkbox" name="hotel_amenity" value="Tohvelit"> Tohvelit
    <input type="checkbox" name="hotel_amenity" value="Untuvapeite"> Untuvapeite
    <input type="checkbox" name="hotel_amenity" value="Hiustenkuivaaja"> Hiustenkuivaaja
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="hotel_id" value="{{selected_hotel.id}}"><br><br>
    <input type="submit" value="Lisää palvelut">
</form>


<h3>Lisää huone</h3>
<form action="/create_room" method="POST">
    Huoneen kuvaus
    <input type="Text" name="room_description"><br>
    Asiakasmäärä
    <input type="integer" name="guests"><br>
    Hotellihuoneen pinta-ala
    <input type="integer" name="square_meters"><br>
    Huoneiden lukumäärä
    <input type="integer" name="number_of_rooms"><br>
    Huoneen hinta per yö
    <input type="float" name="price"><br><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="hotel_id" value="{{selected_hotel.id}}">
    <input type="submit" value="Lisää huoneet">
</form>

{% if count_rooms > 0 %}
    <form action="/update_booking_calendar" method="POST">
        <h3>Lisää huoneita varausjärjestelmään</h3>
        Huoneen nimi 
        <select name="room_id">
            {% for room in rooms %}
                <option value={{room.id}}> {{ room.room_description }}
            {% endfor %}
        </select><br>
        Aloituspäivä <input type="date" name="start_date"><br>
        Lopetuspäivämäärä <input type="date" name="end_date"><br><br>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="hotel_id" value="{{selected_hotel.id}}">
        <input type="submit" value="Lisää kalenteriin">
    </form>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}
    