<form action="/send_1" method="POST">
Hotellissa on seuraavat palvelut:
<input type="checkbox" name="hotel_amenity" value="spa"> Kylpylä
<input type="checkbox" name="hotel_amenity" value="free_parking"> Ilmainen pysäköinti
<input type="checkbox" name="hotel_amenity" value="restaurant"> Ravintola
<input type="checkbox" name="hotel_amenity" value="breakfast"> Aamiainen
<input type="checkbox" name="hotel_amenity" value="gym"> Kuntosali
<input type="checkbox" name="hotel_amenity" value="daily_cleaning"> Päivittäinen siivous
<input type="checkbox" name="hotel_amenity" value="24_7_front_desk"> 24/7 vastaanotto
<input type="checkbox" name="hotel_amenity" value="free_wifi"> Ilmainen Wi-Fi
<input type="submit" value="Tallenna">
</form>

<form action="/send_2" method="POST">
Huoneissa on seuraavat mukavuudet
<input type="checkbox" name="room_amenity" value="private_bathroom"> Oma kylpyhuone
<input type="checkbox" name="room_amenity" value="minibar"> Minibaari
<input type="checkbox" name="room_amenity" value="bathrobes"> Kylpytakit
<input type="checkbox" name="room_amenity" value="slippers"> Tohvelit
<input type="checkbox" name="room_amenity" value="down_comforter"> Untuvapeite
<input type="checkbox" name="room_amenity" value="hair_dryer"> Hiustenkuivaaja
<input type="submit" value="Tallenna">
</form>
    