{% extends "layout.html" %}
{% block content %}

{% if new_booking == True %}
<h3>Uusi varaus tehty!</h3>
{% endif %}

<h3>Sinulta löytyy yhteensä {{ number_of_reservations }} varausta</h3>

{% for room in reserved_rooms %}
    <h4>Varausnumero {{ room.reservation_id}} {{ room.hotel_name }}</h4>
    {{ room.check_in }} - {{ room.check_out }} {{ room.room_description }} {{ room.guests}} asiakkaalle
    <form action="/cancel_reservation" method="POST">
        <input type="hidden" name="reservation_id" value="{{ room.reservation_id }}">
        <input type="hidden" name="check_in" value="{{ room.check_in }}">
        <input type="hidden" name="check_out" value="{{ room.check_out }}">
        <input type="hidden" name="room_id" value="{{ room.room_id }}">
        <input type="submit" value="Poista varaus">
    </form>
{% endfor %}
{% endblock %}