{% extends "layout.html" %}
{% block content %}

<h3>Hotellit, joissa vapaita huoneita päiville {{ check_in }} - {{ check_out }} {{ customers }} asiakkaalle</h3>

<ul>
{% for hotel in available_hotels %}
    <form action="/hotel_rooms" method="POST">
        <input type="hidden" name="check_in" value= {{check_in}}>
        <input type="hidden" name="check_out" value= {{check_out}}> 
        <input type="hidden" name="hotel_id" value= {{hotel.hotel_id}}> 
        <input type="hidden" name="guests" value= {{customers}}>
        <button id="hotel_button" type="submit"> {{ hotel.hotel_name }}</button>
    </form>
{% endfor %}
</ul>
{% endblock %}