<title>Etusivu</title>
<h1>Etusivu</h1>
<b>Tervetuloa varaamaan hotellia!</b>
<br>

{% if session.user_id %}
Tervetuloa  <b>{{ session.user_name }}</b>. <a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
<a href="/register">Luo tunnus</a>
{% endif %}
<br>

{{ session.user_role }}

{% if session.user_role == 1 %}
<a href="/bookings">Omat varaukset</a>
{% endif %}


<form action="/book_hotel" method="POST">
Valitse tulo- ja lähtöpäivä:<br>
Tulopäivä <input type="text" name="check_in">
Lähtöpäivä <input type="text" name="check_out">
Asiakkaiden lukumäärä <input type="integer" name="customers">
<input type="submit" value="Lähetä">
</form>

<b>Varattavissa ovat seuraavat hotellit</b>
<ul>
{% for hotel in hotels %}
<li><a href="/hotel/{{ hotel.id }}">{{ hotel.hotel_name }}</a>
{% endfor %}
</ul>

{% if session.user_role == 2 %}
<a href="/add_hotel">Lisää hotelli</a>
<a href="/add_amenity">Lisää hotellille mukavuuksia</a>
{% endif %}
